.food-container{

    max-width:1300px;

    margin:50px auto;

    padding:20px;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

}

.food-container{
    max-width:1300px;
    margin:60px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
    padding:0 20px;
}