.admin-sidebar {
    width: 260px;
    min-height: 100vh;
    background: #1e293b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
    position: fixed;
    top: 0;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar-logo h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.sidebar-logo span {
    color: #cbd5e1;
    font-size: 14px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #cbd5e1;
    padding: 14px 18px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 16px;
}

.menu-item:hover {
    background: #334155;
    color: white;
}

.menu-item.active {
    background: #ff6b35;
    color: white;
}

.logout-btn {
    border: none;
    background: #ef4444;
    color: white;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #dc2626;
}

@media (max-width:768px){

    .admin-sidebar{
        width:80px;
        padding:20px 10px;
    }

    .sidebar-logo span{
        display:none;
    }

    .sidebar-logo h2{
        font-size:22px;
    }

    .menu-item span{
        display:none;
    }

    .menu-item{
        justify-content:center;
        padding:15px;
    }

    .logout-btn{
        font-size:0;
    }

    .logout-btn svg{
        font-size:20px;
    }

}